/* --- BASE */

*:focus, *:active {
	outline: none;
}

body {
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
	outline: 0;
    margin: 0;
	-webkit-font-smoothing: antialiased;
	line-height: 2em;
    color: #424242;
}

a {
	color: $primary-color;
	text-decoration: none;
	cursor: pointer;
    opacity: 1;
    &:hover {
        opacity: $md-opacity;
    }
}

i:after {
	content: "\00a0"; /* Spacing around font-awesome and the such */
}

$headings: h1 h2 h3 h4 h5 h6;
@each $heading in $headings {
	$i: index($headings, $heading);
	#{$heading} {
		font-weight: 500;
		line-height: 1.3em;
		font-size: 2.7em - $i / 3;
		width: 100%;
	}
}

h1 {
    font-weight: bold;
}

hr {
	width: 10em;
	margin-top: 3em;
    margin-bottom: 1em;
	border: #eee 1px solid;
}

button {
    overflow: visible
}
button, select {
    text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled], html input[disabled] {
    cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input {
    line-height: normal
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto
}
optgroup {
    font-weight: 700
}
table {
    border-collapse: collapse;
    border-spacing: 0
    
}
td, th {
    padding: 0
}

p {
    font-size: 1.25em;
    text-align: left;
	margin-top: $md-margin;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}
