/* --- BUTTONS */

button, input[type="submit"] {
	border: $default-color 1px solid;
	@include button-colors($default-color);
	padding: .8rem 2rem;
	font-weight: 400;
	font-size: .9rem;
	cursor: pointer;
	border: #ddd 1px solid;
	border-radius: $md-border-radius;
	white-space: nowrap;
	height: initial;
	text-align: center;
	font-weight: 800;
	height: 100%;

	&:hover {
		filter: none;
		box-shadow: none;
		background: darken($default-color, 5);
	}
	&:active {
		background: darken($default-color, 20);
		box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3);
	}

	&[g~="primary"] {
		@include button-colors($primary-color);
		&:hover {
			background: lighten($primary-color, 15);
		}
		&:active {
			background: darken($primary-color, 15);
		}
	}

	&[g~="success"] {
		@include button-colors($success-color);
		&:hover {
			background: lighten($success-color, 15);
		}
		&:active {
			background: darken($success-color, 15);
		}
	}

	&[g~="warning"] {
		@include button-colors($warning-color);
		&:hover {
			background: lighten($warning-color, 15);
		}
		&:active {
			background: darken($warning-color, 15);
		}
	}

	&[g~="danger"] {
		@include button-colors($danger-color);
		&:hover {
			background: lighten($danger-color, 15);
		}
		&:active {
			background: darken($danger-color, 15);
		}
	}

	&[g~="disabled"] {
		border: 0;
		background-image: none;
		opacity: .4;
		cursor: not-allowed;
		box-shadow: none;
		background: $default-color;
	}
	&[g~="grouped"] {
		position: relative;
		vertical-align: middle;
	}
	&[g~="large"] {
		padding: 1.2em 2.5em;
		font-size: 1.2em;
	}
	&[g~="small"] {
		padding: .5em 1.5em;
		font-size: .9em;
	}
	&[g~="rounded"] {
		border-radius: $lg-border-radius;
	}
	&[g~="dropdown"] {
		 + ul {
			top: 100%;
			left: 0;
			@include border-box;
			width: 200px;
			background: #FFF;
			color: #666;
			vertical-align: top;
			border: 1px solid #D3D3D3;
			border-radius: 4px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
			padding: 0;
				& li {
					display: block;
					padding: $sm-margin $lg-margin;
					cursor: pointer;
					&:hover {
						background: #eee;
					}
				}
			}
		}
	}

[g~="grouped"] {
	width: 100vw;
	& > button:not(:first-child):not(:last-child) {
		border-radius: 0;
		margin-right: -3px;
	}
	& > button:first-child:not(:last-child) {
		border-radius: 4px 0 0 4px;
		margin-right: -4px;
	}
	& > button:last-child:not(:first-child) {
		border-radius: 4px 4px 4px 0;
	}
}
