/*___ GALAXY GRID */


//___ MIXINS
@mixin grid_columns {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	[g~="#{$i}"] {
		-webkit-flex-basis: $size;
		-ms-flex-preferred-size: $size;
		flex-basis: $size;
		max-width: $size;
		padding: 1em;
	}
	}
}

@mixin xsm_grid_columns {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $xsm-breakpoint) {
		[g~="xsm-#{$i}"] {
		width: $size;
		float: left;
		}
	}
	}
}

@mixin sm_grid_columns {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $sm-breakpoint) {
		[g~="sm-#{$i}"] {
		width: $size;
		float: left;
		}
	}
	}
}

@mixin md_grid_columns {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $md-breakpoint) {
		[g~="md-#{$i}"] {
		width: $size;
		float: left;
		}
	}
	}
}

@mixin lg_grid_columns {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $lg-breakpoint) {
		[g~="lg-#{$i}"] {
		width: $size;
		float: left;
		}
	}
	}
}

@mixin xlg_grid_columns {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $xlg-breakpoint) {
		[g~="xlg-#{$i}"] {
		width: $size;
		float: left;
		}
	}
	}
}

@mixin grid_offset {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
		.galaxy [g~="offset-#{$i}"] {
			margin-left: $size;
			transition-duration: 3s;
		}
	}
}

@mixin xsm_grid_offset {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $xsm-breakpoint) {
		[g*="xsm-offset-#{$i}"] {
		margin-left: $size;
		}
	}
	}
}

@mixin sm_grid_offset {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $sm-breakpoint) {
		[g*="sm-offset-#{$i}"] {
		margin-left: $size;
		}
	}
	}
}

@mixin md_grid_offset {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $md-breakpoint) {
		[g*="md-offset-#{$i}"] {
		margin-left: $size;
		}
	}
	}
}

@mixin lg_grid_offset {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $lg-breakpoint) {
		[g*="lg-offset-#{$i}"] {
		margin-left: $size;
		}
	}
	}
}

@mixin xlg_grid_offset {
	@for $i from 1 through 12 {
	$size: ($i/12) * 100%;
	@media screen and (min-width: $xlg-breakpoint) {
		[g*="xlg-offset-#{$i}"] {
		margin-left: $size;
		}
	}
	}
}

[g~="1"], [g~="2"], [g~="3"], [g~="4"], [g~="5"], [g~="6"], [g~="7"], [g~="8"], [g~="9"], [g~="10"], [g~="11"], [g~="12"] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;

}

section {
	padding-top: 3em;
}

section, p, h1, h2, h3, h4, h5, h6 {
	width: 100%;
	display: flex;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	& [g~="reverse"] {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		-webkit-flex-wrap: row-reverse;
		-ms-flex-wrap: row-reverse;
		flex-wrap: row-reverse;
	}
}

[g][g~="reverse"] {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	-webkit-flex-wrap: column-reverse;
	-ms-flex-wrap: column-reverse;
	flex-wrap: column-reverse;
}

// -- COLUMNS
@include grid_columns;
@include xsm_grid_columns;
@include sm_grid_columns;
@include md_grid_columns;
@include lg_grid_columns;
@include xlg_grid_columns;

// -- OFFSETS
@include grid_offset;
@include xsm_grid_offset;
@include sm_grid_offset;
@include md_grid_offset;
@include lg_grid_offset;
@include xlg_grid_offset;

// -- CONTAINERS
[g~="xlg-container"], [g~='lg-container'], [g~='md-container'], [g~='sm-container'], [g~='xsm-container'] {
	padding: 1rem;
}

[g~="xlg-container"] {
	max-width: $xlg-breakpoint;
}

[g~='lg-container'] {
	max-width: $lg-breakpoint;
}

[g~='md-container'] {
	max-width: $md-breakpoint;
}

[g~='sm-container'] {
	max-width: $sm-breakpoint;
}

[g~='xsm-container'] {
	max-width: $xsm-breakpoint;
}

[g~="start"] {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: start;
}

[g~="end"] {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: end;
}

[g~="top"] {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

[g~="centered"] {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

[g~="bottom"] {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

[g~="around"] {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

[g~="between"] {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
}

[g~="first"] {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

[g~="last"] {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

[g~="inline"] {
	display: inline-flex;
}

[g~="inline-block"] {
	display: block;
}
[g~="block"] {
	display: flex;
}