@import "misc/alerts";

label:not([for]) {
	display: inline;
	padding: .2em .6em .3em;
	font-size: .8em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	text-transform: uppercase;
	border: #eee 1px solid;
}

.light {
	width: 50%;
    height: 10em;
    float: right;
    border: .5em solid black;
    background-color: gray;
    transition: .5s all ease-in-out;
    text-align: center;
    &.active {
    	background: $primary-color;
    }
}