/* Header should wrap content */

header {
	z-index: 10;
	top: 0;
	margin: 0;
	opacity: 1;
	background-color: $nav-color;
	color: darken(contrast-color($nav-color), 50);
	width: 100%;
	& ul {
		@include align-items(center);
		display: inline-flex;
		margin: 0;
		& li {
			line-height: 5em;
			margin: 0 2em;
			color: darken(contrast-color($nav-color), 10);
			font-weight: bold;
			& a {
				padding: 1em;
				transition: .3s;
				color: darken(contrast-color($nav-color), 10);
				&:hover:not([g~="active"]) {
				@if (lightness($nav-color) > 50) {
						/* Lighter navs should have darker feedback */
						color: darken(contrast-color($nav-color), 10);
					} @else {
						/* Darker navs should have brighter feedback */
						color: lighten(contrast-color($nav-color), 10);
					}
				}
				&[g~="active"], [g~="active"]:hover, [g~="active"]:active {
					color: contrast-color($nav-color);
					opacity: 1;
				}
			}
		}
	}

	&[g~="fixed"] {
		width: 100%;
	}

	& img {
		height: 3em;
		width: auto;
		vertical-align: middle;
	}
}

[g~="active"] {
	color: $primary-color;
}

footer {
	width: 100%;
	position: absolute;
	margin-top: 3em;
	height: 10em;
	text-align: center;
	border-top: lighten(contrast-color($footer-background), 90) 1px solid;
	color: darken(contrast-color($footer-background), 20);
	background: $footer-background;
	line-height: 0;

	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	& ul {
		padding-top: $md-padding;
	}
}

/* Drop down */

[g~='caret'] {
	width: 0;
	height: 0;
	margin-top: -4px;
	margin-right: 0;
	margin-left: 7px;
	vertical-align: middle;
	border-top: 6px solid #717d82;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

nav[g~='grouped'] > ul {
	font-size: 13px;
	position: absolute;
	float: left;
	min-width: 7em;
	margin: 15px 0 0;
	padding: 10px 0;
	border: 1px solid #c1cbd2;
	border-radius: 3px;
	background: #fff;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 2px rgba(113, 125, 130, .1);
	box-shadow: 0 1px 2px rgba(113, 125, 130, .1);
	& > li {
		line-height: 1.4;
		display: block;
		clear: both;
		padding: 6px 20px;
		cursor: pointer;
		white-space: nowrap;
		opacity: .8;
	}
}

nav[g~="grouped"] {
	& > ul {
		margin-top: 3em;
		margin-left: 5.5em;
	}
	& > span[g~="arrow"] {
		left: 50%;
		margin-left: -7px;
		position: absolute;
		top: -8px;
		background-position: -727px 0;
		height: 9px;
		width: 15px;
	}
	&[g~='dropdown'] > li:hover {
		background: #eee;
	}
}

